#zawiw_poll_new .date, #zawiw_poll_new .time, #zawiw_poll_new .number{
    text-align: center;
}
#zawiw_poll_new .twochar{
    width: 50px;
}
#zawiw_poll_new .fourchar{
    width: 70px;
}
#zawiw_poll_new .time{
    margin-bottom: 10px;
}

#zawiw_poll_new i{
    color: #ccc;
}
#zawiw_poll_new input{
    margin-bottom: 10px;
    border-color: #aaa;
    color: #333;
}

#zawiw_poll_id .appointment.green{
    background-color: #93E884;
}

#zawiw_poll_id .appointment{
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px;
}
#zawiw_poll_id .description{
    margin-bottom: 20px;
}
#zawiw_poll_id .checkbox{
    width: auto;
    margin-left: 20px;
}
#zawiw_poll_id .participant{
    margin-right: 10px;
}
#polls{
    margin-top: 20px;
}

#zawiw-poll-message{
    border: 1px solid #fff000;
    background-color: #fff777;
    padding: 10px;
    margin-bottom: 10px;
}
.zawiw_poll_btn{
    margin-left: 5px;
}